@model IEnumerable<Natucare.Entidades.CadastroProdutos>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/cadastrocliente.css" rel="stylesheet" />
<header class="header">
    <span class="font">Estoque de Produtos</span>
    <div class="ml-auto">
        <a asp-action="Create" class="new text-decoration-none font" >Novo</a>
    </div>
</header>
<table class="table">
    <thead>
        <tr>
            <th>
                Linha
            </th>
            <th>
                Código
            </th>
            <th>
                Produto
            </th>
            <th>
                Preço Venda
            </th>
            <th>
                Quantidade Estoque
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Linha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
                </td>
                <td>
                    <a asp-action="Edit" class="new text-decoration-none" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="new text-decoration-none" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
