@model IEnumerable<Natucare.Entidades.Vendas>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/cadastrocliente.css" rel="stylesheet" />
<header class="header">
    <span class="font">Vendas</span>
    <div class="ml-auto">
        <a asp-action="Create" class="new text-decoration-none font">Novo</a>
    </div>
</header>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome Cliente
            </th>
            <th>
                Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Preço Unitário
            </th>
            <th>
                Valor da Compra
            </th>
            <th>
                Ciclo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cadastroCliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciclo)
                </td>
                <td>
                    <a asp-action="Edit" class="new text-decoration-none" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="new text-decoration-none" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
